<h1>ed3 Under Construction</h1>

<div>

  <p>ed3 is a project aimed to build an online community for hobbyists and professionals in the fields of design. Its goal is to be a location where users can post their designs and schematics and show their creations to the world.</p>

  <p>The application is still in <%= link_to "pre-alpha stage", posts_path =%>. Stay tunned for developments!</p>

</div>
