// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FAE0C2; //primary color
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

a {
  color: #777;
  &:visited {
    color: #111; }
  &:hover {
    color: #A63800; }
}

div#logo{
  height:100px;
  //background:url('logo.jpg');
  background-repeat:no-repeat;
}
div#menu{
  a {
    color:#fff;
    text-decoration:none;
    &:hover{
      color: #A63800;
    }
  }
  background-color: #567C8C; //complementary color
  position:static;
  width:800px;
  height:30px;

  border:1px solid white;
}
div.menu-block{
  display: inline;
  margin:10px;
}
