// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #000;
  color: #777;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

a {
  color: #777;
  &:visited {
    color: #555; }
  &:hover {
    color: #999;
    background-color: #000; } }

div#header{//header id
  position:static;
  color: #fff;
  width:800px;
  height:120px;
  //border:1px solid white;
}

div#logo{
  height:100px;
  background:url('logo.jpg');
}
div#nav-bar{
  a {
    color:#fff;
    text-decoration:none;
    &:hover{
      color:#555;
    }
  }
  height:20px;
}
div.nav-bar-block{
  display: inline;
  margin:5px;
  width: 50px;
}
