// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #000;
  color: #777;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #999;
    background-color: #000; } }

