// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#content{
  position:relative;
  height:500px;
  width:1000px;

  //border:1px solid white;
}

//non-existant for now
div#summary{
  position:absolute;
  padding-left: 10px;
  padding-right: 10px;
  top:0px;
  left:0px;
  height:500px;
  width:200px;
  overflow:auto;
  
  //border:1px solid white;
}

div#post{

}

div#posts{
  position:absolute;
  padding-left: 10px;
  padding-right: 10px;
  top:0px;
  //left:220px;
  width:760px;
  height:500px;
  overflow:auto;

}
div#posts table{
}
div#footer{
  position:static;
  width:1000px;
  //border:1px solid white;
}
